# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore non-sample log files
app/logs/*
!app/logs/average-frame-time-per-second-log.csv
!app/logs/exact-frame-time-log.csv